<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">   <!-- IEの互換表示無効 -->
		<meta name="format-detection" content="telephone=no">   <!-- 電話番号自動リンク無効 -->
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">   <!-- Skypeによる電話番号置換無効 -->
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<meta property="og:url" content="ページのURL">   <!-- OGPタグ/twitterカード -->
		<meta property="og:title" content="ページのタイトル">
		<meta property="og:type" content="ページのタイプ">
		<meta property="og:description" content="記事の抜粋">
		<meta property="og:image" content="画像のURL">
		<meta name="twitter:card" content="カード種類">
		<meta name="twitter:site" content="@Twitterユーザー名">
		<meta property="og:site_name" content="サイト名">
		<meta property="og:locale" content="ja_JP">
		<meta property="fb:app_id" content="appIDを入力">

		<meta name="msapplication-TileImage" content="画像のURL"><!-- Windows用タイル設定 -->
		<meta name="msapplication-TileColor" content="カラーコード（例：#F89174）"/>

		<meta name="description" content="">
		<meta name="robots" content="noindex,nofollow">

		<title>退会｜ジュエラーメニュー｜オリジナルジュエリー制作「ai-jewelly」</title>

		<link rel="apple-touch-icon-precomposed" href="画像のURL" />   <!-- スマホ用アイコン画像 -->
		<link rel="stylesheet" href="../../assets/css/common.css">
		<link rel="stylesheet" href="../../assets/css/mymenu.css">

		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>
		<script src="../../assets/js/common.js"></script>

	</head>

	<body id="pagetop">
		<div class="shade"></div>
		<header id="header">
			<div id="seo">
				<div class="pc_container">
					<!--					<h1><span>全国のジュエラーがあなただけのオリジナルジュエリーをお作りします</span></h1>-->
					<h1><span>退会｜ジュエラーメニュー｜オリジナルジュエリー制作をオンラインで「ai-jewelly」</span></h1>
				</div>
			</div>
			<div class="pc_container">
				<div id="menu_btn" class="menu"><span></span></div>
				<a href="../../index.html" id="logo"><img src="../../assets/images/common_img/logo.svg" alt="ai-jewelly"></a>
				<ul class="right">
					<li><a href="../../order/index.html" class="h_btn"><img src="../../assets/images/common_img/h-button_sp.svg" alt="制作依頼はこちら" class="imgSwitch"></a></li>
					<li><a href="../../mymenu/index.html"><img src="../../assets/images/common_img/my_menu.svg" alt="ジュエラーメニュー"></a></li>
					<li><a href="../../qa/index.html"><img src="../../assets/images/common_img/q&a.svg" alt="Q&A"></a></li>
				</ul>
			</div>
		</header>
		<!-- /#header -->

		<nav id="g_nav">
			<div class="inner">
				<dl class="my_menu">
					<dt>マイメニュー</dt>
					<dd>
						<ul class="nav_menu">
							<li>
								<a href="../../mymenu/index.html">マイメニュー TOPページ</a>
							</li>
							<li>
								<a href="../../mymenu/message/index.html">メッセージ</a>
							</li>
							<li>
								<a href="../../mymenu/favorite/index.html">お気に入り一覧</a>
							</li>
							<li>
								<a href="../../mymenu/profile/index.html">プロフィール</a>
							</li>
							<li>
								<a href="../../mymenu/orderhistory/index.html">発注履歴</a>
							</li>
							<li>
								<a href="../../mymenu/payment/index.html">お支払い方法</a>
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="my_menu">
					<dt>ジュエラーメニュー</dt>
					<dd>
						<ul class="nav_menu">
							<li>
								<a href="../../jewellermenu/index.html">ジュエラーメニュー TOPページ</a>
							</li>
							<li>
								<a href="../../jewellermenu/message/index.html">メッセージ</a>
							</li>
							<li>
								<a href="../../jewellermenu/favorite/index.html">お気に入り一覧</a>
							</li>
							<li>
								<a href="../../jewellermenu/profile/index.html">プロフィール</a>
							</li>
							<li>
								<a href="../../jewellermenu/orderhistory/index.html">発注履歴</a>
							</li>
							<li>
								<a href="../../jewellermenu/orderreceived/index.html">受注履歴</a>
							</li>
							<li>
								<a href="../../jewellermenu/product/index.html">作品登録</a>
							</li>
							<li>
								<a href="../../jewellermenu/menu/index.html">メニュー登録</a>
							</li>
							<li>
								<a href="../../jewellermenu/material/index.html">素材・デザイン登録</a>
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="my_menu">
					<dt>運営メニュー</dt>
					<dd>
						<ul class="nav_menu">
							<li>
								<a href="../../operationmenu/index.html">運営メニュー TOPページ</a>
							</li>
							<li>
								<a href="../../operationmenu/message/index.html">メッセージ</a>
							</li>
							<li>
								<a href="../../operationmenu/favorite/index.html">お気に入り一覧</a>
							</li>
							<li>
								<a href="../../operationmenu/news/index.html">お知らせ</a>
							</li>
							<li>
								<a href="../../operationmenu/user/index.html">ユーザー</a>
							</li>
							<li>
								<a href="../../operationmenu/progress/index.html">進捗管理</a>
							</li>
						</ul>
					</dd>
				</dl>
				<ul class="nav_menu">
					<li>
						<a href="../../index.html">ai-jewelly TOPページ</a>
					</li>
					<li>
						<a href="../../product/index.html">制作実績</a>
					</li>
					<li>
						<a href="../../jeweller/index.html">ジュエラー一覧</a>
					</li>
					<li>
						<a href="../../material/index.html">素材・デザイン一覧</a>
					</li>
					<li>
						<a href="../../menu/index.html">制作メニュー</a>
					</li>
					<li>
						<a href="../../tutorial/index.html">発注チュートリアル</a>
					</li>
					<li>
						<a href="../../order_list/index.html">公開依頼一覧</a>
					</li>
					<li>
						<a href="../../qa/index.html">Q&amp;A</a>
					</li>
					<li>
						<a href="../../price/index.html">料金の目安</a>
					</li>
					<li>
						<a href="../../guide/index.html">ご利用ガイド</a>
					</li>
					<li>
						<a href="../../company/index.html">運営会社</a>
					</li>
					<li>
						<a href="../../terms/index.html">規約・特定商取引法に基づく表記</a>
					</li>
					<li>
						<a href="../../contact/index.html">お問い合わせ</a>
					</li>
					<li class="btn">
						<a href="../../order/index.html"><img src="../../assets/images/common_img/h-button_pc.svg" alt=""></a>
					</li>
				</ul>
				<p class="btn_mt">
					<span class="close">
						CLOSE
					</span>
				</p>
			</div>
		</nav>
		<!-- /#g_nav -->

		<div id="page_tit" class="mode_mymenu">
			<div class="container">
				<h2>退会</h2>
				<nav class="breadcrumbs">
					<ul>
						<li><a href="../../index.html">ai-jewelly TOPページ</a></li>
						<li><a href="../index.html">ジュエラーメニュー</a></li>
						<li>退会</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- /#page_tit -->

		<div id="cont_wrapper" class="container u_page">
			<main id="cont_main">
				<section id="my_leave" class="mid_sec">
					<h3 class="tit_big02">
						退会手続き
					</h3>
					<div class="txt_box">
						<p class="bold">【ご注意】一度アカウントを削除すると、このアカウントは使用できなくなります。</p>
						<p class="bold">【ご注意】現在進行中の案件がないか今一度ご確認ください。</p>
						<p>登録したままでも月額費用等は掛かりません。<br>
						それでも退会を希望される方は以下の「退会する」をタップ/クリックしてください。</p>
						<p class="tac"><a href="../../leave_complete.html">退会する</a></p>
					</div>
					<p class="btn_mt">
						<a href="#" onclick="javascript:window.history.back(-1);return false;" class="btn01 mode_back">
							BACK
						</a>
					</p>
				</section>
				<!--/#my_history-->
			</main>
			<!--/#cont_main-->

			<aside id="cont_aside" class="mode_menu">
				<dl class="menu_box">
					<dt>
						ジュエラーメニュー
					</dt>
					<dd>
						<div class="data">
							<div class="img_box">
								<img src="../../assets/images/jeweller/img01.jpg" alt="">
							</div>
							<p class="name">
								jeweller_name
							</p>
						</div>
						<nav class="my_menu">
							<ul class="nav_menu">
								<li><a href="../../jewellermenu/index.html">ジュエラーメニューTOP</a></li>
								<li><a href="../../jewellermenu/message/index.html">メッセージ</a></li>
								<li><a href="../../jewellermenu/favorite/index.html">お気に入り一覧</a></li>
								<li><a href="../../jewellermenu/profile/index.html">プロフィール</a></li>
								<li><a href="../../jewellermenu/orderhistory/index.html">発注履歴</a></li>
								<li><a href="../../jewellermenu/orderreceived/index.html">受注履歴</a></li>
								<li><a href="../../jewellermenu/product/index.html">作品登録</a></li>
								<li><a href="../../jewellermenu/menu/index.html">メニュー登録</a></li>
								<li><a href="../../jewellermenu/material/index.html">素材・デザイン登録</a></li>
								<li><a href="../../jewellermenu/leave/index.html">退会</a></li>
							</ul>
						</nav>
					</dd>
				</dl>
			</aside>
			<!--/#cont_aside-->
		</div>
		<!-- /#cont_wrapper -->

		<footer id="footer">
			<a href="#pagetop" id="top_btn"></a>
			<div class="container mode_l">
				<div class="f_top">
					<div class="left">
						<div class="f_logo">
							<p class="fs_pc12_sp10 mincho">全国のジュエラーがあなただけの<br class="rwd_disp_ox">オリジナルジュエリーをお作りします</p>
							<a href="../../index.html" id="f_logo"><img src="../../assets/images/common_img/logo_white.svg" alt="ai-jewelly"></a>
						</div>
						<nav class="f_nav">
							<ul>
								<li><a href="../../product/index.html">制作実績</a></li>
								<li><a href="../../jeweller/index.html">ジュエラー一覧</a></li>
								<li><a href="../../material/index.html">素材・デザイン一覧</a></li>
								<li><a href="../../menu/index.html">制作メニュー</a></li>
								<li><a href="../../order_list/index.html">公開依頼一覧</a></li>
								<li><a href="../../price/index.html">料金の目安</a></li>
								<li><a href="../../guide/index.html">ご利用ガイド</a></li>
								<li><a href="../../company/index.html">運営会社</a></li>
							</ul>
						</nav>
						<ul class="btn_area">
							<li><a href="../../order/index.html"><img src="../../assets/images/common_img/h-button_pc.svg" alt="制作依頼はこちら"></a></li>
							<li><a href=""><img src="../../assets/images/common_img/ico-insta.svg" alt="Instagram"></a></li>
							<li><a href=""><img src="../../assets/images/common_img/ico-twi.svg" alt="Twitter"></a></li>
						</ul>
					</div>
					<div class="right">
						<div class="sns">SNS_area</div>
					</div>
				</div>
				<div class="f_bottom">
					<ul>
						<li><a href="../../contact/index.html#pp">プライバシーポリシー</a></li>
						<li><a href="../../terms/index.html">規約・特定商取引法に基づく表記</a></li>
					</ul>
				</div>
			</div>
			<div class="copy">
				<div class="container mode_l">
					<small>@ Rain .inc All Rights Reserved.</small>
				</div>
			</div>
		</footer>
		<!-- /#footer -->
	</body>
</html>