<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">   <!-- IEの互換表示無効 -->
		<meta name="format-detection" content="telephone=no">   <!-- 電話番号自動リンク無効 -->
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">   <!-- Skypeによる電話番号置換無効 -->
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<meta property="og:url" content="ページのURL">   <!-- OGPタグ/twitterカード -->
		<meta property="og:title" content="ページのタイトル">
		<meta property="og:type" content="ページのタイプ">
		<meta property="og:description" content="記事の抜粋">
		<meta property="og:image" content="画像のURL">
		<meta name="twitter:card" content="カード種類">
		<meta name="twitter:site" content="@Twitterユーザー名">
		<meta property="og:site_name" content="サイト名">
		<meta property="og:locale" content="ja_JP">
		<meta property="fb:app_id" content="appIDを入力">

		<meta name="msapplication-TileImage" content="画像のURL"><!-- Windows用タイル設定 -->
		<meta name="msapplication-TileColor" content="カラーコード（例：#F89174）"/>

		<meta name="description" content="">
		<meta name="robots" content="noindex,nofollow">

		<title>【編集】メニュー名｜メニュー登録｜ジュエラーメニュー｜オリジナルジュエリー制作「ai-jewelly」</title>

		<link rel="apple-touch-icon-precomposed" href="画像のURL" />   <!-- スマホ用アイコン画像 -->
		<link rel="stylesheet" href="../../assets/css/common.css">
		<link rel="stylesheet" href="../../assets/css/mymenu.css">

		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>
		<script src="../../assets/js/common.js"></script>
		<script src="../../assets/js/jquery.autosize.min.js"></script>

	</head>

	<body id="pagetop">
		<div class="shade"></div>
		<header id="header">
			<div id="seo">
				<div class="pc_container">
					<!--					<h1><span>全国のジュエラーがあなただけのオリジナルジュエリーをお作りします</span></h1>-->
					<h1><span>【編集】メニュー名｜メニュー登録｜ジュエラーメニュー｜オリジナルジュエリー制作をオンラインで「ai-jewelly」</span></h1>
				</div>
			</div>
			<div class="pc_container">
				<div id="menu_btn" class="menu"><span></span></div>
				<a href="../../index.html" id="logo"><img src="../../assets/images/common_img/logo.svg" alt="ai-jewelly"></a>
				<ul class="right">
					<li><a href="../../order/index.html" class="h_btn"><img src="../../assets/images/common_img/h-button_sp.svg" alt="制作依頼はこちら" class="imgSwitch"></a></li>
					<li><a href="../../mymenu/index.html"><img src="../../assets/images/common_img/my_menu.svg" alt="ジュエラーメニュー"></a></li>
					<li><a href="../../qa/index.html"><img src="../../assets/images/common_img/q&a.svg" alt="Q&A"></a></li>
				</ul>
			</div>
		</header>
		<!-- /#header -->

		<nav id="g_nav">
			<div class="inner">
				<dl class="my_menu">
					<dt>マイメニュー</dt>
					<dd>
						<ul class="nav_menu">
							<li>
								<a href="../../mymenu/index.html">マイメニュー TOPページ</a>
							</li>
							<li>
								<a href="../../mymenu/message/index.html">メッセージ</a>
							</li>
							<li>
								<a href="../../mymenu/favorite/index.html">お気に入り一覧</a>
							</li>
							<li>
								<a href="../../mymenu/profile/index.html">プロフィール</a>
							</li>
							<li>
								<a href="../../mymenu/orderhistory/index.html">発注履歴</a>
							</li>
							<li>
								<a href="../../mymenu/payment/index.html">お支払い方法</a>
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="my_menu">
					<dt>ジュエラーメニュー</dt>
					<dd>
						<ul class="nav_menu">
							<li>
								<a href="../../jewellermenu/index.html">ジュエラーメニュー TOPページ</a>
							</li>
							<li>
								<a href="../../jewellermenu/message/index.html">メッセージ</a>
							</li>
							<li>
								<a href="../../jewellermenu/favorite/index.html">お気に入り一覧</a>
							</li>
							<li>
								<a href="../../jewellermenu/profile/index.html">プロフィール</a>
							</li>
							<li>
								<a href="../../jewellermenu/orderhistory/index.html">発注履歴</a>
							</li>
							<li>
								<a href="../../jewellermenu/orderreceived/index.html">受注履歴</a>
							</li>
							<li>
								<a href="../../jewellermenu/product/index.html">作品登録</a>
							</li>
							<li>
								<a href="../../jewellermenu/menu/index.html">メニュー登録</a>
							</li>
							<li>
								<a href="../../jewellermenu/material/index.html">素材・デザイン登録</a>
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="my_menu">
					<dt>運営メニュー</dt>
					<dd>
						<ul class="nav_menu">
							<li>
								<a href="../../operationmenu/index.html">運営メニュー TOPページ</a>
							</li>
							<li>
								<a href="../../operationmenu/message/index.html">メッセージ</a>
							</li>
							<li>
								<a href="../../operationmenu/favorite/index.html">お気に入り一覧</a>
							</li>
							<li>
								<a href="../../operationmenu/news/index.html">お知らせ</a>
							</li>
							<li>
								<a href="../../operationmenu/user/index.html">ユーザー</a>
							</li>
							<li>
								<a href="../../operationmenu/progress/index.html">進捗管理</a>
							</li>
						</ul>
					</dd>
				</dl>
				<ul class="nav_menu">
					<li>
						<a href="../../index.html">ai-jewelly TOPページ</a>
					</li>
					<li>
						<a href="../../product/index.html">制作実績</a>
					</li>
					<li>
						<a href="../../jeweller/index.html">ジュエラー一覧</a>
					</li>
					<li>
						<a href="../../material/index.html">素材・デザイン一覧</a>
					</li>
					<li>
						<a href="../../menu/index.html">制作メニュー</a>
					</li>
					<li>
						<a href="../../tutorial/index.html">発注チュートリアル</a>
					</li>
					<li>
						<a href="../../order_list/index.html">公開依頼一覧</a>
					</li>
					<li>
						<a href="../../qa/index.html">Q&amp;A</a>
					</li>
					<li>
						<a href="../../price/index.html">料金の目安</a>
					</li>
					<li>
						<a href="../../guide/index.html">ご利用ガイド</a>
					</li>
					<li>
						<a href="../../company/index.html">運営会社</a>
					</li>
					<li>
						<a href="../../terms/index.html">規約・特定商取引法に基づく表記</a>
					</li>
					<li>
						<a href="../../contact/index.html">お問い合わせ</a>
					</li>
					<li class="btn">
						<a href="../../order/index.html"><img src="../../assets/images/common_img/h-button_pc.svg" alt=""></a>
					</li>
				</ul>
				<p class="btn_mt">
					<span class="close">
						CLOSE
					</span>
				</p>
			</div>
		</nav>
		<!-- /#g_nav -->

		<div id="page_tit" class="mode_mymenu">
			<div class="container">
				<h2>【編集】メニュー名</h2>
				<nav class="breadcrumbs">
					<ul>
						<li><a href="../../index.html">ai-jewelly TOPページ</a></li>
						<li><a href="../index.html">ジュエラーメニュー</a></li>
						<li><a href="./index.html">メニュー登録</a></li>
						<li>【編集】メニュー名</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- /#page_tit -->

		<div id="cont_wrapper" class="container u_page">
			<main id="cont_main">
				<section id="my_favo" class="mid_sec">
					<form action="./complete.html" method="post">
						<h3 class="tit_big02">
							登録内容編集
						</h3>
						<div class="profile_box">
							<div class="table_style mode_contact">
								<dl>
									<dt class="req">
										アイキャッチ
									</dt>
									<dd>
										<a id="getData" class="btn btn-primary">Get Data</a>
										<div class="cropper-example-1">
											<!-- bladeテンプレートを使用していれば asset()や url() 関数が使えます -->
											<img id="cropperImg" class="img-responsive imgChange" src="" alt="">
										</div>
										
										<div class="result" id="result-area"></div>
										
										
										
										<div class="img_box mode_thum btn_mb">
											<img src="../../assets/images/mymenu/img01.jpg" alt="" class="imgChange">
										</div>
										<div class="file_input">
											<input type="file" id="myImage" accept="image/*">
											<input type="hidden" id="eyecatchInput" name="eyecatch" value="">
											<button class="btn_delete" type="button">画像を削除</button>
										</div>

										<script>
//											$('#myImage').on('change', function (e) {
//												var reader = new FileReader();
//												reader.onload = function (e) {
//													$(".cropper-example-1 img").attr('src', e.target.result);
//												}
//												reader.readAsDataURL(e.target.files[0]);
//											});
										</script>
									</dd>
								</dl>
								<dl>
									<dt class="req">
										メニュー名
									</dt>
									<dd>
										<input type="text" name="menu_name" value=" メニュー名" placeholder=" メニュー名を入力してください">
									</dd>
								</dl>
								<dl>
									<dt class="any">
										タグ
									</dt>
									<dd>
										<dl class="tag_dl">
											<dt>
												タイプ別
											</dt>
											<dd>
												<ul>
													<li class="tit_class">
														手・腕周り
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_type" value="リング" checked> リング
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_type" value="ブレスレット"> ブレスレット
														</label>
													</li>
													<li class="tit_class">
														首・頭
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_type" value="ネックレス"> ネックレス
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_type" value="チョーカー"> チョーカー
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_type" value="ペンダント"> ペンダント
														</label>
													</li>
													<li class="tit_class">
														耳
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_type" value="ピアス"> ピアス
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_type" value="イヤリング"> イヤリング
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_type" value="イヤーカフ"> イヤーカフ
														</label>
													</li>
													<li class="tit_class">
														その他
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_type" value="アンクレット"> アンクレット
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_type" value="ブローチ"> ブローチ
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_type" value="ボディピアス"> ボディピアス
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_type" value="その他"> その他
														</label>
													</li>
												</ul>
											</dd>
										</dl>
										<dl class="tag_dl">
											<dt>
												用途
											</dt>
											<dd>
												<ul>
													<li>
														<label>
															<input type="checkbox" name="tag_use" value="レディース" checked> レディース
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_use" value="メンズ"> メンズ
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_use" value="エタニティ"> エタニティ
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_use" value="ピンキー"> ピンキー
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_use" value="シグネット"> シグネット
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_use" value="インテリア"> インテリア
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_use" value="鑑定/鑑賞">鑑定/鑑賞
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_use" value="ダイヤモンドルース"> ダイヤモンドルース
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_use" value="アイデア製品"> アイデア製品
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_use" value="その他"> その他
														</label>
													</li>
												</ul>
											</dd>
										</dl>
										<dl class="tag_dl">
											<dt>
												モチーフ
											</dt>
											<dd>
												<ul>
													<li>
														<label>
															<input type="checkbox" name="tag_motif" value="ハート"> ハート
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_motif" value="アニマル"> アニマル
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_motif" value="フラワー"> フラワー
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_motif" value="スター/ムーン"> スター/ムーン
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_motif" value="クロス"> クロス
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_motif" value="クラウン"> クラウン
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_motif" value="アルファベット"> アルファベット
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_motif" value="その他"> その他
														</label>
													</li>
												</ul>
											</dd>
										</dl>
										<dl class="tag_dl">
											<dt>
												デザインタイプ
											</dt>
											<dd>
												<ul>
													<li>
														<label>
															<input type="checkbox" name="tag_design" value="ダイヤモンド付き"> ダイヤモンド付き
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_design" value="1粒タイプ"> 1粒タイプ
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_design" value="K24純金"> K24純金
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_design" value="華奢"> 華奢
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_design" value="幅太"> 幅太
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_design" value="チェーンのみ"> チェーンのみ
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_design" value="その他"> その他
														</label>
													</li>
												</ul>
											</dd>
										</dl>
										<dl class="tag_dl">
											<dt>
												素材別
											</dt>
											<dd>
												<ul>
													<li>
														<label>
															<input type="checkbox" name="tag_material" value="K18イエローゴールド"> K18イエローゴールド
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_material" value="K18ピンクゴールド"> K18ピンクゴールド
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_material" value="K18ホワイトゴールド"> K18ホワイトゴールド
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_material" value="K14"> K14
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_material" value="K10"> K10
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_material" value="K24純金"> K24純金
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_material" value="プラチナ"> プラチナ
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_material" value="K18/PTコンビ"> K18/PTコンビ
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_material" value="シルバー" checked> シルバー
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_material" value="地金素材"> 地金素材
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_material" value="その他"> その他
														</label>
													</li>
												</ul>
											</dd>
										</dl>
										<dl class="tag_dl">
											<dt>
												宝石別
											</dt>
											<dd>
												<ul>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="ダイヤモンド"> ダイヤモンド
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="ルビー"> ルビー
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="サファイア"> サファイア
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="エメラルド"> エメラルド
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="オパール"> オパール
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="タンザナイト"> タンザナイト
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="アレキサンドライト"> アレキサンドライト
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="トルマリン"> トルマリン
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="トパーズ"> トパーズ
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="アクアマリン"> アクアマリン
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="ペリドット"> ペリドット
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="真珠" checked> 真珠
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="原石"> 原石
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_jewelly" value="その他"> その他
														</label>
													</li>
												</ul>
											</dd>
										</dl>
										<dl class="tag_dl">
											<dt>
												ジュエリー色
											</dt>
											<dd>
												<ul>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="無色/ホワイト"> 無色/ホワイト
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="ブラック"> ブラック
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="ブラウン"> ブラウン
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="レッド"> レッド
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="ピンク"> ピンク
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="ブルー"> ブルー
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="ライトブルー"> ライトブルー
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="パープル"> パープル
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="グリーン"> グリーン
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="オレンジ"> オレンジ
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="イエロー"> イエロー
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="混合色"> 混合色
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_color" value="その他"> その他
														</label>
													</li>
												</ul>
											</dd>
										</dl>
										<dl class="tag_dl">
											<dt>
												ジュエリーカット
											</dt>
											<dd>
												<ul>
													<li>
														<label>
															<input type="checkbox" name="tag_cut" value="ラウンドブリリアントカット"> ラウンドブリリアントカット
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_cut" value="エクセレントカット"> エクセレントカット
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_cut" value="ベリーグッドカット"> ベリーグッドカット
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_cut" value="ファンシーカット"> ファンシーカット
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_cut" value="スクエアカット"> スクエアカット
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_cut" value="ペアシェイプ"> ペアシェイプ
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_cut" value="ハートシェイプ"> ハートシェイプ
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_cut" value="プリンセスカット"> プリンセスカット
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_cut" value="多面体"> 多面体
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_cut" value="その他"> その他
														</label>
													</li>
												</ul>
											</dd>
										</dl>
										<dl class="tag_dl">
											<dt>
												オプション
											</dt>
											<dd>
												<ul>
													<li>
														<label>
															<input type="checkbox" name="tag_option" value="GIA付"> GIA付
														</label>
													</li>
													<li>
														<label>
															<input type="checkbox" name="tag_option" value="中央宝石研究所付"> 中央宝石研究所付
														</label>
													</li>
												</ul>
											</dd>
										</dl>
									</dd>
								</dl>
								<dl>
									<dt class="any">
										説明文
									</dt>
									<dd>
										<textarea name="txt" class="resize">テキストが入ります。
テキストが入ります。
テキストが入ります。</textarea>
									</dd>
								</dl>
								<dl>
									<dt class="any">
										補足画像1
									</dt>
									<dd>
										<div class="img_box mode02 btn_mb">
											<img src="../../assets/images/top/wish-img_pc.jpg" alt="" id="preview01">
										</div>
										<div class="file_input">
											<input type="file" id="myImg01" name="myImg01" accept="image/*">
											<button class="btn_delete" type="button">画像を削除</button>
										</div>

										<script>
											$('#myImg01').on('change', function (e) {
												var reader = new FileReader();
												reader.onload = function (e) {
													$("#preview01").attr('src', e.target.result);
												}
												reader.readAsDataURL(e.target.files[0]);
											});
										</script>
									</dd>
								</dl>
								<dl>
									<dt class="any">
										補足画像1の説明文
									</dt>
									<dd>
										<textarea name="annotation01" class="resize">補足文が入ります。なければ非表示になります。</textarea>
									</dd>
								</dl>
								<dl>
									<dt class="any">
										補足画像2
									</dt>
									<dd>
										<div class="img_box mode02 btn_mb">
											<img src="../../assets/images/top/wish-img_pc.jpg" alt="" id="preview02">
										</div>
										<div class="file_input">
											<input type="file" id="myImg02" name="myImg02" accept="image/*">
											<button class="btn_delete" type="button">画像を削除</button>
										</div>

										<script>
											$('#myImg02').on('change', function (e) {
												var reader = new FileReader();
												reader.onload = function (e) {
													$("#preview02").attr('src', e.target.result);
												}
												reader.readAsDataURL(e.target.files[0]);
											});
										</script>
									</dd>
								</dl>
								<dl>
									<dt class="any">
										補足画像2の説明文
									</dt>
									<dd>
										<textarea name="annotation02" class="resize">補足文が入ります。なければ非表示になります。</textarea>
									</dd>
								</dl>
								<dl>
									<dt class="any">
										補足画像3
									</dt>
									<dd>
										<div class="img_box mode02 btn_mb">
											<img src="../../assets/images/top/wish-img_pc.jpg" alt="" id="preview03">
										</div>
										<div class="file_input">
											<input type="file" id="myImg03" name="myImg03" accept="image/*">
											<button class="btn_delete" type="button">画像を削除</button>
										</div>

										<script>
											$('#myImg03').on('change', function (e) {
												var reader = new FileReader();
												reader.onload = function (e) {
													$("#preview03").attr('src', e.target.result);
												}
												reader.readAsDataURL(e.target.files[0]);
											});
										</script>
									</dd>
								</dl>
								<dl>
									<dt class="any">
										補足画像3の説明文
									</dt>
									<dd>
										<textarea name="annotation03" class="resize">補足文が入ります。なければ非表示になります。</textarea>
									</dd>
								</dl>
								<dl>
									<dt class="req">
										価格
									</dt>
									<dd>
										<input type="number" name="price" value="20000" class="input_price"> 円（税込）
										<select name="price_option">
											<option value="―">―</option>
											<option value="～">～</option>
										</select>
									</dd>
								</dl>
								<dl>
									<dt class="req">
										公開状況
									</dt>
									<dd>
										<ul>
											<li>
												<label>
													<input type="radio" value="pos" name="release"> 公開
												</label>
											</li>
											<li>
												<label>
													<input type="radio" value="neg" name="release"> 非公開
												</label>
											</li>
										</ul>
									</dd>
								</dl>
							</div>
						</div>
						<p class="btn_mt btn_mb">
							<input type="submit" class="btn01" value="変更する">
						</p>
						<p class="btn_mt">
							<a href="#" onclick="javascript:window.history.back(-1);return false;" class="btn01 mode_back">
								BACK
							</a>
						</p>
					</form>
				</section>
				<!--/#my_favo-->
			</main>
			<!--/#cont_main-->

			<aside id="cont_aside" class="mode_menu">
				<dl class="menu_box">
					<dt>
						ジュエラーメニュー
					</dt>
					<dd>
						<div class="data">
							<div class="img_box">
								<img src="../../assets/images/jeweller/img01.jpg" alt="">
							</div>
							<p class="name">
								jeweller_name
							</p>
						</div>
						<nav class="my_menu">
							<ul class="nav_menu">
								<li><a href="../../jewellermenu/index.html">ジュエラーメニューTOP</a></li>
								<li><a href="../../jewellermenu/message/index.html">メッセージ</a></li>
								<li><a href="../../jewellermenu/favorite/index.html">お気に入り一覧</a></li>
								<li><a href="../../jewellermenu/profile/index.html">プロフィール</a></li>
								<li><a href="../../jewellermenu/orderhistory/index.html">発注履歴</a></li>
								<li><a href="../../jewellermenu/orderreceived/index.html">受注履歴</a></li>
								<li><a href="../../jewellermenu/product/index.html">作品登録</a></li>
								<li><a href="../../jewellermenu/menu/index.html">メニュー登録</a></li>
								<li><a href="../../jewellermenu/material/index.html">素材・デザイン登録</a></li>
								<li><a href="../../jewellermenu/leave/index.html">退会</a></li>
							</ul>
						</nav>
					</dd>
				</dl>
			</aside>
			<!--/#cont_aside-->
		</div>
		<!-- /#cont_wrapper -->

		<footer id="footer">
			<a href="#pagetop" id="top_btn"></a>
			<div class="container mode_l">
				<div class="f_top">
					<div class="left">
						<div class="f_logo">
							<p class="fs_pc12_sp10 mincho">全国のジュエラーがあなただけの<br class="rwd_disp_ox">オリジナルジュエリーをお作りします</p>
							<a href="../../index.html" id="f_logo"><img src="../../assets/images/common_img/logo_white.svg" alt="ai-jewelly"></a>
						</div>
						<nav class="f_nav">
							<ul>
								<li><a href="../../product/index.html">制作実績</a></li>
								<li><a href="../../jeweller/index.html">ジュエラー一覧</a></li>
								<li><a href="../../material/index.html">素材・デザイン一覧</a></li>
								<li><a href="../../menu/index.html">制作メニュー</a></li>
								<li><a href="../../order_list/index.html">公開依頼一覧</a></li>
								<li><a href="../../price/index.html">料金の目安</a></li>
								<li><a href="../../guide/index.html">ご利用ガイド</a></li>
								<li><a href="../../company/index.html">運営会社</a></li>
							</ul>
						</nav>
						<ul class="btn_area">
							<li><a href="../../order/index.html"><img src="../../assets/images/common_img/h-button_pc.svg" alt="制作依頼はこちら"></a></li>
							<li><a href=""><img src="../../assets/images/common_img/ico-insta.svg" alt="Instagram"></a></li>
							<li><a href=""><img src="../../assets/images/common_img/ico-twi.svg" alt="Twitter"></a></li>
						</ul>
					</div>
					<div class="right">
						<div class="sns">SNS_area</div>
					</div>
				</div>
				<div class="f_bottom">
					<ul>
						<li><a href="../../contact/index.html#pp">プライバシーポリシー</a></li>
						<li><a href="../../terms/index.html">規約・特定商取引法に基づく表記</a></li>
					</ul>
				</div>
			</div>
			<div class="copy">
				<div class="container mode_l">
					<small>@ Rain .inc All Rights Reserved.</small>
				</div>
			</div>
		</footer>
		<!-- /#footer -->

		<!-- 画像トリミング用読み込み　ここから -->
		<link  href="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.6/cropper.css" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.6/cropper.js"></script>
		<script type="text/javascript">
			// init
			// class='cropper-example-1のimgタグに適用'
			var $image = $('.cropper-example-1 > img'),replaced;


			//crop options
			// id='imgに適用'
			$('#cropperImg').cropper({
				aspectRatio: 1 / 1,
				viewMode:2
			});
		</script>

		<script type="text/javascript">
			$('#myImage').on('change', function (e) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$(".cropper-example-1 img").attr('src', e.target.result);
				}
				reader.readAsDataURL(e.target.files[0]);

				var $image = $('.cropper-example-1 > img'),replaced;

				$('#cropperImg').cropper({
					aspectRatio: 1 / 1,
					viewMode:2
				});
			});
		</script>

		<script type="text/javascript">
			// getDataボタンが押された時の処理
			$('#getData').on('click', function(){

				// crop のデータを取得
				var data = $('#cropperImg').cropper('getCroppedCanvas');

				// 切り抜きした画像のデータ
				// このデータを元にして画像の切り抜きが行われます
//				var image = {
//					width: Math.round(data.width),
//					height: Math.round(data.height),
//					x: Math.round(data.x),
//					y: Math.round(data.y),
//					_token: 'jf89ajtr234534829057835wjLA-SF_d8Z' // csrf用
//				};

				var blob = data.toDataURL('image/png');

				$(".imgChange").attr('src', blob);
				$("#eyecatchInput").attr('value', blob);

				// post 処理
//				$.post('/cropper', image, function(res){
//					// 成功すれば trueと表示されます
//					console.log(res);
//				});

			});
		</script>
		<!-- 画像トリミング用読み込み　ここまで -->
	</body>
</html>